/* The visible portion of the header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body
Many of these effects are straightforward to accomplish, but the first one might require you to do a little math. Consider what it means for 400 pixels of <header> to be visible when the element is behind another element.

How much is hidden? Which property could you use to achieve proper spacing to show 400 pixels of the <header>?

 */

 header {
  height: 400px;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333000;
  background-image: url("https://www.transparenttextures.com/patterns/office.png"); 
}

header h2 {
  margin: 0;
  padding: 0;
  color: white;
}

